#img-container {
    width: 750px;
    height: 150px;
    background-image: url('../images/pupimg.jpg');
    background-size: cover;
    /* or "contain" depending on what you want */
    background-position: 40% 31%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

img {
    object-fit: cover;
}

.col {
    margin: 10px !important;
}